---
title: Responsive Card
---

<div class="p-responsive-card card">
  <div class="media"></div>
  <div class="meta">
    <span class="avatar meta-item">
      <img src="http://i.pravatar.cc/300?img=65" alt="avatar">
    </span>
    <span class="username meta-item">DerpMastaFlash</span>
    <span class="relative-date-posted meta-item">Posted 2 days ago</span>
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto enim ipsa maiores nesciunt placeat quam repellat rerum sint tempora?</p>
  </div>

</div>