body {
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px;
}

.p-canvas {
  display: inline-block;
}

#container {
  max-width: 1000px;
  box-sizing: border-box;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  text-align: left;
  border: 1px solid #e0e0e0;
  display: inline-block;
}
