.p-responsive-card {



  .meta {
    .avatar {
      display: flex;
      //justify-content: center;
      //align-items: center;
      height: 50px;
      width: 50px;
      //border: 5px solid #000;
      overflow: hidden;
      border-radius: 400px;


      img {
        min-width: 50px;
        min-height: 50px;
      }

    }
  }

}